name: SonarCloud project analysis

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
  schedule:
    - cron: "1 1 2 * *"

permissions:
  pull-requests: read # allows SonarCloud to decorate PRs with analysis results

jobs:
  generate_coverage_with_sonarcloud:
    name: "Analyse with SonarCloud"
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Run Tests
        run: make test
      - name: Analyze project with SonarCloud
        uses: SonarSource/sonarqube-scan-action@a31c9398be7ace6bbfaf30c0bd5d415f843d45e9
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          # Additional arguments for the sonarcloud scanner
          args:
            -Dsonar.tests=.
            -Dsonar.projectBaseDir=.
            -Dsonar.sources=.
            -Dsonar.projectKey=jimmystewpot_dns-preload
            -Dsonar.organization=jimmystewpot
            -Dsonar.go.tests.reportPaths=reports/testreport.json
            -Dsonar.go.coverage.reportPaths=reports/coverage.txt
            -Dsonar.go.golint.reportPaths=reports/checkstyle-lint.xml
            -Dsonar.test.inclusions=**/*_test.go
            -Dsonar.scm.disabled
            -Dsonar.sourceEncoding=UTF-8
            -Dsonar.verbose=true
